.rw {
    background: linear-gradient(to right, rgb(241, 52, 52) 50%, #fff 50%);
    margin: 0px;
}
.big {
    text-align: center;
    padding: 4cm 0;
    padding-bottom: 1cm;
    margin: 0px;
    font-size: 2cm;
}
.wr {
    background: linear-gradient(to left, rgb(241, 52, 52) 50%, #fff 50%);
    margin: 0px;
}
.name {
    font-size: 1cm;
    text-align: left;
    margin-left: 55%;
    margin-bottom: 20px;
}
.abt {
    text-align: left;
    padding: 1cm 0;
    vertical-align:middle;
    margin: 0px;
    margin-left: 15%;
}
.abt-cntnt {
    text-align: left;
    vertical-align:middle;
    margin: 0px;
    margin-left: 15%;
    font-size: 20px;
    margin-bottom: 1cm;
    width: 30%;
}
.grid {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: auto;
}
.small {
    display: block;
    width: 10%;
    height: 70%;
    border-radius: 100cm;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}
.left {
    float: left;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-gap: 1cm;
    margin: 1cm;
}
body {
    background: linear-gradient(to right, rgb(241, 52, 52) 50%, #fff 50%);
}
.lead {
    font-size: 30px;
}
#more {
    display:none
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 110%;
    height: 110%;
}
.card-text {
    margin: 40px;
}
.card-texto {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (min-width: 480px) {
    .card-text {
        margin: 20px;
    }
    .card-texto {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.io {
    color: gray;
}